{% extends 'gost/documents.html' %}
{% load filters %}
{% load verbose_names %}

{% block input_gost %}

    <form action="{% url 'gost33259' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Найти</button>
    </form>

    {% if flange_data %}
        <p>Масса фланца: {{ mass_flange }} кг</p>

        {% for value in flange_data %}
            {% for field in fields_type %}
                <p>Поле: {{ value|get_verbose_field_name:field }} | Значение: {{ value|getattribute:field }} мм</p>
            {% endfor %}
        {% endfor %}

        {% for value in surface_data %}
            {% for field in fields_surface %}
                <p>Поле: {{ value|get_verbose_field_name:field }} | Значение: {{ value|getattribute:field }} мм</p>
            {% endfor %}
        {% endfor %}

        {% for ft in drawing_flange_type %}
            <figure>
                <img src="{{ ft.flange_drawing.url }}" width="40%">
            </figure>
        {% endfor %}

        {% for fs in drawing_flange_surface %}
            <figure>
                <img src="{{ fs.surface_drawing.url }}" width="20%">
            </figure>
        {% endfor %}

    {% else %}
        Введите данные для поиска
    {% endif %}

    {# ВЫВОД В СТРОКУ #}
    {#    <div class="col-2">#}
    {#      <input type="text" id="#" placeholder="Тип фланца (1, 2, ...11)">#}
    {#    </div>#}
    {#    <div class="col-2">#}
    {#      <input type="text" id="#" placeholder="Поверхность(F, E)">#}
    {#    </div>#}
    {#    <div class="col-2">#}
    {#      <input type="text" id="#" placeholder="DN">#}
    {#    </div>#}
    {#    <div class="col-2">#}
    {#      <input type="text" id="#" placeholder="PN">#}
    {#    <div>#}

{% endblock %}